.data
  margin: 0 0 10%
  .data--btn
    display: inline-block
    margin: 0 7%
    width: 150rpx
  .daily-list
    display: flex;
    justify-content: center
    margin: 20rpx 10rpx
    .daily-item
      text-align: center
      border-radius: 10px;
      border: 1px solid #BBB
      padding: 10rpx;
      width: 80%
      .daily-up
        display: flex
        justify-content: space-between
        .daily-title
          font-weight: 800
        .daily-sub
          padding-left:10rpx
          text-align: left
          word-break: break-all
      .daily-down
        display: flex
        justify-content: space-between
        margin-top: 20rpx
        .daily-author-date
          color: #333
          font-style: normal
          font-size: 24rpx
          font-weight: 500


.daily-edit
  margin: 0 10rpx
  .one-col
    display: flex
    justify-content: flex-start
  .two-col
    display: flex
    justify-content: space-between
  .vc
    display: flex
    justify-content: space-between
    align-items: center
    .title
      margin-right: 20rpx
      font-size: 30rpx
    .title2
      font-size:30rpx
    .ml
      margin-left:10rpx
  .attachment-readonly
    background-color: #F7F7F7
    .at-image-picker__remove-btn
      display: none


.w {width: 100%;}
.pb80 {padding-bottom: 80px;}
// 干系人
.stakeholder-img {
  width: 120px;
  height: 120px;
  line-height 120px;
  text-align: center;
  display inline-block;
  border: 1px solid #e6e6e6;
  vertical-align: top;
  background-color: rgb(55, 146, 248);
  color: #FFF;
}
.stakeholder-img2 {
  width: 120px;
  height: 120px;
  display inline-block;
  border: 1px solid #e6e6e6;
  vertical-align: top;
}
.stakeholder-title {
  margin-left: 10px;
  padding: 0 15px;
  width: calc(100% - 210px);
  height: 120px;
  display inline-block;
  border: 1px solid #e6e6e6;
}
.title-top {
  height: 60px;
  line-height 60px;
}
.title-bottom {
  width: 100%;
  height: 60px;
  line-height 60px;
}
.stakeholder-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 90px;
  background-color: #FFF;
  border-top: 1px solid #e6e6e6;
}
.communicationMode-item{
  width: 30%;
  height: 60px;
  line-height 60px;
  text-align: center;
  display inline-block;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 20px;
  border-radius: 10px;
}
.communicationMode-active {
  background-color: rgb(55, 146, 248);
  color: #FFF;
}
.stakeholder-edit {
  padding-bottom: 120px;
}
.stakeholderDetail-required {
  .at-input__title {
    color: red!important;
  }
  .item-content__info-title {
    color: red!important;
    font-size: 32rpx;
    padding-left: 6rpx;
  }
}
.stakeholderDetail-common
  .item-content__info-title
    font-size: 32rpx;
.safety-content-sign
  width 140px
  height 140px
  line-height 140px
  text-align center
  border 1PX solid #d6e4ef
  box-sizing border-box
  font-size 50px
  margin 0 15px
  border-radius 10px
  vertical-align top

