.index
  flex-direction: column
  width: 100%
  .index--btn
    display: inline-block
    margin: 0 7%
    width: 150rpx
  .home_list
    margin:40rpx 0
    padding: 0 30rpx
    .home_img
      width:100%
    .home_title
      text-align:center
      font-weight: 600