.data
  margin: 0 0 10%
  .data--btn
    display: inline-block
    margin: 0 7%
    width: 150rpx
  .daily-list
    display: flex;
    justify-content: center
    margin: 20rpx 10rpx
    .daily-item
      text-align: center
      border-radius: 10px;
      border: 1px solid #BBB
      padding: 10rpx;
      width: 80%
      .daily-up
        display: flex
        justify-content: space-between
        .daily-title
          font-weight: 800
        .daily-sub
          width: 100%
          padding-left:10rpx
          text-align: left
          word-break: break-all
      .daily-down
        display: flex
        justify-content: space-between
        margin-top: 20rpx
        .daily-author-date
          color: #333
          font-style: normal
          font-size: 24rpx
          font-weight: 500


.daily-edit
  margin: 0 10rpx
  .one-col
    display: flex 
    justify-content: flex-start
  .two-col
    display: flex
    justify-content: space-between
  .vc
    display: flex
    justify-content: space-between
    align-items: center
    .title
      margin-right: 20rpx
      font-size: 30rpx
    .title2
      font-size:30rpx
    .ml
      margin-left:10rpx
  .attachment-readonly
    background-color: #F7F7F7
    .at-image-picker__remove-btn
      display: none
.edit-button
  background: #28a745




  