.data
  margin: 0 0 10%
  .data--btn
    display: inline-block
    margin: 0 7%
    width: 150rpx
  .daily-list
    display: flex;
    justify-content: center
    margin: 20rpx 10rpx
    .daily-item
      text-align: center
      border-radius: 10px;
      border: 1px solid #BBB
      padding: 10rpx;
      width: 80%
      .daily-up
        display: flex
        justify-content: space-between
        .daily-title
          font-weight: 800
        .daily-sub
          width: 100%
          padding-left:10rpx
          text-align: left
          word-break: break-all
      .daily-down
        display: flex
        justify-content: space-between
        margin-top: 20rpx
        .daily-author-date
          color: #333
          font-style: normal
          font-size: 24rpx
          font-weight: 500


.daily-edit
  margin: 0 10rpx
  .one-col
    display: flex 
    justify-content: flex-start
  .two-col
    display: flex
    justify-content: space-between
    align-items: center
  .vc
    display: flex
    justify-content: space-between
    align-items: center
    .title
      margin-right: 20rpx
      font-size: 30rpx
    .title2
      font-size:30rpx
    .ml
      margin-left:10rpx
  .vcc
    display: flex
    justify-content: center
    align-items: center
    .title
      margin-right: 20rpx
      font-size: 30rpx
    .title2
      font-size:30rpx
  .ml
    margin-left:10rpx
  .vr
    display: flex
    justify-content: flex-end
    align-items: center
    .title
      margin-right: 20rpx
      font-size: 30rpx
    .title2
      font-size:30rpx
    .ml
      margin-left:10rpx
  .ml15
    margin-left:15rpx
  .pl20
    padding-left:20rpx
  .pl30
    padding-left:30rpx
  .pr20
    padding-right:20rpx
  .pr30
     padding-right:30rpx
  .task-item
     .at-list__item-container
       height: 100%
       font-style: normal
       font-size: 28px
       color: #aaa
  .button-group
    display: flex
    align-items: center
    .title
      margin-right: 20rpx
      font-size: 30rpx
    .title2
      font-size:30rpx
    .ml
      margin-left:10rpx
  .attachment-readonly
    background-color: #fff
    .at-image-picker__remove-btn
      display: none
.edit-button
  background: #28a745




  